aiofiles
aiohttp
apscheduler
dnspython
gTTS
hachoir
heroku3
motor==3.3.2
pillow
psutil
pykeyboard
pymongo==4.6.0
python-dotenv
pyyaml
requests
search-engine-parser
speedtest-cli
spotipy
telethon
wget
yt-dlp
youtube-search-python
GitPython
SafoneAPI
MukeshAPI
openai
httpx
tgcrypto
pyrogram
py-tgcalls>=2.0.0
